#icon {
    font-size: 1.5rem;
    color: #244645;
}

#icon_ajout {
    font-size: 2rem;
    color: #244645;
    margin-left: 95%;
}

.bold {
    font-weight: bold;
}

#logo {
    position: fixed;
    top: 2%;
    left: 1%;
    width: 100px;
    height: auto;
}

#btn1, #btn2, #btn3, #btn4, #btn_logo {
    margin: 25px;
}

h4 {
    padding: 20px;
}

#prix_instru {
    font-weight: bold;
}

.card-text {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#reference_div, #marque_div, #categorie_div, #couleur_div {
    margin-bottom: 30px;
    margin-left: 10%;
}

#nom_instrument_aff {
    font-size: 45px;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

#image_instrument_aff {
    /* pour centrer au centre du bloc */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 850px;
    margin-top: 80px;
}

#reference_instrument_aff, #marque_instrument_aff, #categorie_instrument_aff, #couleur_instrument_aff {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

#reference_instrument_infos, #marque_instrument_infos, #categorie_instrument_infos, #couleur_instrument_infos {
    font-size: 15px;
    margin-left: 15px;
}

#prix_instrument_aff {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#table_img {
    height: auto;
    width: 80px;
    max-height: 100px;
}

.delete_td, .modif_td {
    text-align: center;
}

.delete {
    color: #732c2c;
    font-size: 1.8rem;
}
.modif{
    font-size: 1.8rem;
    color: black;
}
#aucun_instrument{
    font-size: 20px;
    color: red;
}
